@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Ultra';
  src: url('assets/fonts/Ultra.ttf') format('truetype');
}



html,
body {
  @apply bg-white;

}

header {
  @apply bg-[#a50e25] text-white;
}

th {
  @apply text-sm p-2;
}

tbody tr {
  @apply border-b border-gray-200 bg-gray-100 hover:bg-amber-200 odd:bg-gray-200;
}

tbody tr td {
  @apply text-sm p-2
}

.participants-table {
  @apply shadow-md rounded-lg;
}

.control-panel-button {
  @apply bg-[#a50e25] hover:bg-red-700 text-white py-2 px-4;
}

.tabs .table-tabs {
  @apply bg-orange-200 rounded-3xl flex items-center h-[40px] overflow-hidden;
}

.tabs li {
  @apply h-full flex;
}

.tabs li>a::before {
  @apply content-[''] w-[2px] h-1/2 bg-orange-300 absolute left-0 top-1/2 -translate-y-1/2;
}

.tabs li a {
  @apply hover:bg-orange-300 px-4 h-full flex justify-center items-center relative;
}

.view-option {
  @apply bg-[#a50e25] text-white rounded-lg overflow-hidden cursor-pointer select-none transition-all hover:bg-red-900;
}

.view-preview {
  @apply bg-amber-300 rounded-lg overflow-hidden select-none transition-all;
}

.view-option .label,
.view-preview .label {
  @apply w-full h-1/2 bg-linear-to-b from-[transparent] to-[black] text-white flex justify-center items-end text-sm pb-2 text-center;
}

.pagination .pages {
  @apply flex items-center justify-center h-full;
}

.pagination .pages span {
  @apply text-xs text-gray-500 cursor-pointer rounded-lg min-w-[40px] flex justify-center items-center h-full px-2;
}

.pagination .pages span.active {
  @apply text-[#a50e25] font-bold;
}

.pagination .pages span:hover {
  @apply text-[#a50e25] bg-amber-700;
}

.control-panel-nav button {
  @apply bg-gray-700 text-white py-2 px-4 h-full cursor-pointer w-full hover:bg-gray-600 flex items-center justify-center flex-col pt-3;
}

.control-panel-nav button.active {
  @apply bg-gray-900 text-white;
}

.button-icon {
  @apply text-white text-sm font-bold h-[30px] rounded-full aspect-square;
}

.button-label {
  @apply text-xs mt-1;
}


/* SLOT MACHINE */

.slot-machine-shell {
  @apply w-full h-full bg-gray-800 overflow-hidden absolute top-0 left-0 items-center justify-center transition-all duration-300 ease-in-out;

  font-family: 'Ultra', sans-serif;
}

.slot-machine {
  @apply w-full h-full flex items-center justify-center relative;
}

.slot-machine-inner {
  @apply w-full h-full flex items-center justify-center relative;
}

.slot-reel-column {
  @apply h-full bg-[#039645] odd:bg-[#f3eb58] px-2 flex items-center justify-center relative;
}

.slot-reel-upper-lights {
  @apply w-full h-[calc(50%_-_150px)] flex flex-col items-center justify-around absolute top-0 py-4;
}

.slot-reel-lower-lights {
  @apply w-full h-[calc(50%_-_150px)] flex flex-col items-center justify-around absolute bottom-0 py-4;
}

.slot-reel-light-blinker {
  @apply w-1/3 aspect-square rounded-full bg-gradient-to-b bg-amber-200 border-solid border-black z-10 drop-shadow-stone-700 animate-pulse overflow-hidden relative drop-shadow-lg;
}

.slot-reel-light-blinker::before {
  @apply content-[''] w-2/3 aspect-square rounded-full bg-radial from-[#ffffff] via-[#fffdd2c7] to-transparent absolute top-0 left-0 z-[-1];
}

.slot-reel-light-blinker::after {
  @apply content-[''] w-2/3 aspect-square rounded-full bg-gradient-to-tl from-[#00000056] via-[#00000062] to-transparent absolute bottom-0 translate-y-1/4 translate-x-1/4 right-0 z-[-1] opacity-40;
}

.slot-reel-shell {
  @apply aspect-1/3 bg-gradient-to-b from-cyan-200 via-white to-cyan-100 w-[80px] items-center justify-center text-5xl text-[#ed1c3c] overflow-hidden rounded-lg flex border-gray-600 border-solid relative box-content border-5;
}



.slot-reel-shell::before {
  @apply content-[''] w-[80px] h-[80px] absolute top-0 left-0 bg-gradient-to-b from-[black] from-10% via-[#000000c7] via-55% to-[transparent] z-10;
}

.slot-reel-shell::after {
  @apply content-[''] w-[80px] h-[80px] absolute bottom-0 left-0 bg-gradient-to-t from-[black] from-10% via-[#000000c7] via-55% to-[transparent] z-10;
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.sub-panel {
  @apply w-full
}

.slot-reel-infiroll .reel-part-a {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: roll 0.87s linear infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.slot-reel-infiroll .reel-part-b {
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  animation: roll 0.8s linear infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.flowing-gradient {
  background: linear-gradient(270deg, #15d86c, #f3eb58, #15d86c, #f3eb58, #15d86c);
  background-size: 800% 800%;
  animation: gradientFlow 10s ease infinite;
}